<%- include("template/cabecera", {tituloWeb: 'Panel de Administración'}) %>

<div class="container">
  <h1>CRUD MongoDB</h1>
  <a class="btn btn-success btn-block my-4" href="/pokemon/crear">Crear nuevo Pokémon</a>

  <% if (arrayPokemon && arrayPokemon.length > 0) { %>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Tipo</th>
          <th scope="col">Descripción</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% arrayPokemon.forEach((pokemon, index) => { %>
          <tr>
            <th scope="row"><%= index + 1 %></th> <!-- Enumeración automática -->
            <td><%= pokemon.nombre %></td>
            <td><%= pokemon.tipo %></td>            
            <td><%= pokemon.descripcion %></td>
            <td>
              <a class="btn btn-warning btn-sm" href="/pokemon/<%= pokemon._id %>">Editar/Eliminar</a>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  <% } else { %>
    <p class="alert alert-warning text-center">No hay Pokémon registrados.</p>
  <% } %>
</div>

<%- include("template/footer") %>
